footer.footer
    .wrap.

//- <a href="#" class='scroll-top' id="scroll-top"><svg class="scroll-top__icon"><use xlink:href="#icon-top-scroll"></use></svg></a>

//- .pop-up

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="../js/script.js"></script>

<svg width="0" height="0" class="hidden">
    
</svg>