<div class="product-card"><a class="product-card__img-box" href="#!">
        <div class="marker-box">
            <div class="marker"></div>
        </div><img class="product-card__img" />
    </a>
    <div class="product-card__description">
        <div class="section-top">
            <div class="section-top__item"><a class="product-card__name" href="#!"></a></div>
            <div class="section-top__item">
                <div class="div bonus"><svg class="bonus__icon">
                        <use xlink:href="#icon-bonus"></use>
                    </svg><span class="bonus__text"></span></div>
            </div>
        </div>
        <div class="text-2"></div>
        <ul class="list-info">
            <li class="list-info__item"></li>
            <li class="list-info__item"></li>
            <li class="list-info__item"></li>
        </ul>
        <div class="product-card-box">
            <div class="price">
                <div class="span price_old"></div>
            </div>
            <div class="btn btn_2">Подробнее</div>
        </div>
    </div>
</div>