<footer class="footer">
    <div class="wrap"></div>
</footer>
<div class="pop-up">
    <div class="pop-up__box">
        <div class="pop-up__btn-box">
            <button class="pop-up__close"></button>
        </div>
        <div class="pop-up__title">Внимание</div>
        <div class="pop-up__text-box"><span class="pop-up__text"></span></div>
    </div>
</div>
<script src="./js/jquery-3.0.0.min.js"></script>
<script src="./js/script.js"></script>
<svg width="0" height="0" class="hidden">
</svg>