mixin dropdown(item_1, item_2, item_3, item_4)
    .dropdown
        .dropdown__current= item_1
        .dropdown__items
            .dropdown__item= item_2
            .dropdown__item= item_3
            .dropdown__item= item_4