// === btn ===

.btn {
    display: inline-block;
    padding: 14px 44px;
    font-size: var(--fz-btn);
    font-weight: bold;
    color: var(--color-btn);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: var(--bg-btn);
    border: none;
    border-radius: 5px;
    outline: none;

    &_2 {
        padding: 14px 58px;
        font-size: var(--fz-btn_2);
        color: var(--color-btn-2);
        background: var(--bg-btn-2);
        transition: background .3s linear;

        &:hover {
            background: var(--bg-btn);
        }
    }

    &-close {
        display: none;
        width: 40px;
        height: 25px;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        background: transparent;
        border: none;
        border-radius: 10px;
        outline: none;

        .line {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            background: var(--color-basis);
            border-radius: 10px;
        }

        .line-1 {
            transform: rotate(45deg);
        }

        .line-2 {
            transform: rotate(45deg * -1);
        }
    }

    &-nav {
        position: relative;
        display: none;
        width: 40px;
        height: 25px;
        margin: 10px 0 0;
        cursor: pointer;
        visibility: visible;
        background: transparent;
        border: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;

        .line {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            background: #091423;
            border-radius: 20px;
            transition: all .5s;

            &.line-1 {
                top: 0;
            }

            &.line-2 {
                top: calc(50% - 1px);
            }

            &.line-3 {
                bottom: 0;
            }
        }

        &:hover {
            .line-1 {
                transform: translateY(5px / 2 * -1);
            }

            .line-3 {
                transform: translateY(5px / 2 * 1);
            }
        }

        &.active {
            .line-1 {
                background: #091423;
                transform: translateY(22px / 2 * 1) translateX(0) rotate(45deg);
            }

            .line-2 {
                background: #091423;
                opacity: 0;
            }

            .line-3 {
                background: #091423;
                transform: translateY(22px / 2 * -1) translateX(0) rotate(45deg * -1);
            }
        }
    }

    &-form {
        width: 100%;
        max-width: 270px;
        padding: 15px;
        margin-bottom: 10px;
        font-size: var(--fz-btn-form);
        font-weight: bold;
        color: var(--color-btn-form);
        cursor: pointer;
        background: var(--bg-btn-form);
        border: 2px solid #61c14b;
        border-radius: 4px;
    }
}

// === link ===

.link {
    display: flex;
    align-items: center;
    font-size: var(--fz-link);
    font-weight: bold;
    color: var(--color-4);
    text-decoration: none;

    &__icon {
        margin-left: 15px;
        font-size: 25px;
        line-height: 0;
        color: var(--color-5);
    }

    &-2 {
        font-size: var(--fz-link-2);
        font-weight: 500;
        color: var(--color-link-2);
    }

    &-3 {
        font-size: var(--fz-link-3);
        font-weight: 500;
        color: var(--color-link-3);
    }

    &-4 {
        font-size: var(--fz-link-back);
        font-weight: 500;
        color: var(--color-link-back);
        cursor: pointer;
        border: none;
        outline: none;

        &__icon {
            padding-bottom: 2px;
            margin-right: 15px;
            font-size: 25px;
            line-height: 0;
            color: var(--color-5);
        }
    }

    &-social {
        text-decoration: none;
    
        &-box {
            display: flex;
            align-items: center;
    
            &__item {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
    
            &__icon {
                width: 20px;
                height: 20px;
                fill: var(--color-icon);
            }
        }
    }
}

// === text ===

.title-1 {
    margin: 0;
    font-size: var(--fz-title-1);
    font-weight: bold;
    line-height: 100%;
    color: var(--color-2);
    letter-spacing: -.7px;

    &_thin {
        font-weight: normal;
    }

    &_color {
        color: var(--color-5);
    }
}

.title-2 {
    font-size: var(--fz-title-2);
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1px;
}

.title-3 {
    font-size: var(--fz-title-3);
    font-weight: bold;
    letter-spacing: -.6px;
}

.title-4 {
    font-size: var(--fz-title-4);
    font-weight: bold;
    letter-spacing: -.6px;
}

.title-5 {
    font-size: var(--fz-title-5);
    font-weight: 500;
    color: var(--color-2);
}

.title-6 {
    font-size: var(--fz-title-6);
    font-weight: 500;
    color: var(--color-2);
    letter-spacing: -.8px;
}

.text-1 {
    font-size: var(--fz-text-3);
    letter-spacing: -0.2px;
}

.text-2 {
    font-size: var(--fz-text-8);
}

.text-3 {
    font-size: var(--fz-text-2);
    color: var(--color-6);
    letter-spacing: -.3px;
}

.text-4 {
    font-size: var(--fz-text-7);
    line-height: 1.45;
    color: var(--color-basis);
    letter-spacing: -.3px;
}

.text-5 {
    font-size: var(--fz-text-6);
}

.text-6 {
    font-size: var(--fz-text-9);
    font-weight: 500;
    color: var(--color-2);
    letter-spacing: -.3px;
}

.text-7 {
    font-size: var(--fz-text-10);
    line-height: 1.5;
    letter-spacing: -.2px;
}

.text-8 {
    line-height: 1.5;
    color: var(--color-6);
    letter-spacing: -.3px;
}

.text-base {
    font-size: var(--fz-basis);
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-basis);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        margin-bottom: 10px;
    }

    &-2 {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

// === UI ===

.nav-strip {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: var(--fz-nav-strip);
    color: var(--color-nav-strip);
    list-style: none;

    &__item {
        &:nth-child(even) {
            padding: 0 5px;
        }
    }

    &__link {
        font-size: var(--fz-nav-strip);
        font-weight: 500;
        color: var(--color-nav-strip);
        text-decoration: none;
    }
}

.tabs {
    display: flex;

    &__label {
        display: block;
        width: calc((100% - 30px) / 3);
        padding: 25px 35px 25px 25px;
        cursor: pointer;
        background: var(--bg-2);
        border: 1px solid var(--bg-2);

        &:not(:last-child) {
            margin-right: 30px;
        }

        &_active {
            background: var(--bg-1);
            border: 1px solid var(--color-5);

            .tabs-1__check {
                border: 7px solid var(--color-5);
            }
        }
    }

    &__input {
        display: none;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__title-box {
        display: inline-flex;
        align-items: center;
        width: 80%;
    }

    &__title {
        font-size: var(--fz-text-3);
        font-weight: 500;
        color: var(--color-2);
    }

    &__img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    &__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    &__check {
        width: 25px;
        height: 25px;
        margin-left: auto;
        background: #fff;
        border: 1px solid #cbd2d6;
        border-radius: 100%;
    }
}

.dropdown {
    position: relative;
    display: inline-flex;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    user-select: none;

    &__current {
        position: relative;
        display: flex;
        width: 100%;
        padding: 20px;
        padding-right: 45px;
        cursor: pointer;
        background: transparent;
        border: 2px solid #f2f2f2;
        border-radius: 5px;
        appearance: none;
        outline: none;

        &::before,
        &::after {
            position: absolute;
            right: 25px;
            font-size: 12px;
        }

        &::before {
            bottom: 45%;
            color: var(--color-5);
            content: '\27A4';
            background: transparent;
            transform: rotate(-90deg);
        }

        &::after {
            top: 45%;
            color: var(--color-5);
            content: '\27A4';
            transform: rotate(90deg);
        }
    }

    &__items {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        z-index: 3;
        display: block;
        width: 100%;
        min-width: 200px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        visibility: hidden;
        background: #fff;
        border: 2px solid #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 #ddd;
        opacity: 0;
        transition: 200ms;
        transform: translateY(-5px);

        &::after {
            position: absolute;
            top: -10px;
            left: 1em;
            width: 0;
            height: 0;
            content: '';
            border: 10px solid #ff00;
            border-width: 0 10px 10px;
            border-bottom-color: #f2f2f2;
        }
    }

    &__item {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #f2f2f2;

        &:hover {
            cursor: pointer;
            background: #f2f2f2;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    &_open &__current {
        border-color: #ddd;
    }

    &_open &__items {
        visibility: visible;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
        opacity: 1;
        transform: translateY(0);
    }

    &_small &__current {
        font-weight: 500;
        border: 0;

        .ui-dropdown__current-decorated {
            text-decoration: underline;
        }
    }

    &_small &__item {
        z-index: 2;
    }

    &_small &__current::before,
    &_small &__current::after {
        top: 0;
        right: 0;
        bottom: 0;
        height: 100;
    }

    &_small &__current::before {
        background: transparent;
    }

    &_small &__current::after {
        content: '\27A4';
    }
}

// === Product ===

.list-products {
    &-title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &__icon {
            display: block;
            height: 37px;
            margin-right: 25px;
        }

        &__text {
            font-weight: bold;
        }
    }
}

.product-card {
    display: flex;
    padding: 30px 0 40px;
    border-bottom: 1px solid #f2f5f6;

    &__img-box {
        position: relative;
        display: flex;
        align-items: center;
        width: calc((100% - 30px) / 4);
        max-height: 255px;
        margin-right: 30px;
        overflow: hidden;
        text-decoration: none;
        border: 1px solid #e4e9ed;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__description {
        width: calc((100% / 4) * 3);

        & > .section-top {
            align-items: center;
            padding-top: 5px;
            margin-bottom: 20px;
        }
    }

    &__name {
        font-size: var(--fz-text-11);
        font-weight: bold;
        color: var(--color-2);
        text-decoration: none;
    }
}

.detailed-product-card {
    &__img-box {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-decoration: none;

        &_min {
            height: auto;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__description {
        padding-bottom: 45px;
        margin-bottom: 18px;
        border-bottom: 1px solid #e2e7f1;
    }

    .price {
        margin-bottom: 25px;

        &_old {
            margin-left: 20px;
        }
    }

    .btn {
        padding: 10px 52px;
    }
}

.article {
    display: flex;
    margin-right: 20px;
    font-size: var(--fz-text-6);
    color: #6c7076;

    .text-5 {
        margin-right: 10px;
    }
}

.price {
    font-size: var(--fz-price);
    color: var(--color-5);

    &_old {
        display: inline-block;
        margin-left: 10px;
        font-size: var(--fz-price-old);
        font-weight: 500;
        color: var(--color-2);
        text-decoration: line-through;
    }
}

.marker {
    width: 100%;
    padding: 3px;
    font-size: var(--fz-text-10);
    font-weight: bold;
    text-align: center;

    &-box {
        width: 120px;
    }

    &_discount {
        color: var(--color-4);
        background: #d5ef28;
    }

    &_new {
        color: var(--color-3);
        background: #fb4e7f;
    }
}

// === form ===

.form {
    &__title {
        display: block;
        margin-bottom: 5px;
        font-size: var(--fz-text-4);
        font-weight: 500;
        color: var(--color-6);
    }

    &__input {
        width: 100%;
        padding: 13px 0 13px 25px;
        margin-top: 5px;
        font-size: var(--fz-text-3);
        border: 1px solid #e1e5e7;
        border-radius: 4px;
        outline: none;
        transition: box-shadow .2s linear;

        &::placeholder {
            font-size: var(--fz-text-3);
            color: var(--color-6);
        }

        &:active,
        &:focus {
            box-shadow: 0 1px 8px rgba(47, 174, 18, .3);
        }

        &_area {
            height: 110px;
            resize: none;
        }
    }

    &__info {
        font-size: var(--fz-text-6);
    }

    &-btn-box {
        width: 100%;

        .btn {
            width: 100%;
            margin-bottom: 25px;
        }

        .form__info {
            text-align: center;
        }
    }

    &-2 {
        display: block;
        width: 350px;
        background: #fff;
        box-shadow: 5px 5px 46px 0 rgba(5, 22, 26, 0.06);

        .form-box {
            margin-bottom: 10px;
        }

        .form__input {
            margin-bottom: 5px;
        }

        .form__info {
            font-weight: 400;
            color: #4d525a;
        }

        .form__title {
            font-weight: 500;
            color: #091322;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        padding: 45px 19% 50px;
    }
}

// === other ===

.nav {
    position: relative;

    &__item {
        position: relative;
        padding: 15px 0;

        &:not(:first-child) {
            padding-left: 30px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: var(--fz-text-3);
        font-weight: 600;
        color: var(--color-1);
        text-decoration: none;

        &_calc {
            position: relative;
            left: -34px;
            width: 115%;
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        margin-right: 15px;
        fill: var(--color-icon);
    }
}

.nav-mobile {
    display: none;

    .nav-container {
        position: relative;
    }

    &__btn-box {
        position: absolute;
        top: 40px;
        right: 20px;
    }
}

.icon-hidden {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 270px;
    max-width: 340px;
    text-decoration: none;

    &__icon {
        display: flex;
        width: 75%;
        height: 100%;
        max-height: 46px;
        margin-right: 20px;
        text-decoration: none;

        svg {
            width: 100%;
        }
    }

    &__text {
        min-width: 145px;
        padding-left: 20px;
        font-size: var(--fz-text-4);
        font-weight: 500;
        color: var(--color-basis);
        text-decoration: none;
        border-left: 1px solid #e6e9ed;
    }
}

.mail-box {
    &__link {
        display: block;
        margin-bottom: 10px;
        font-size: var(--fz-text-4);
        font-weight: 600;
        color: var(--color-6);
        text-decoration: none;
    }

    &__text {
        font-size: var(--fz-text-6);
    }
}

.phone-number {
    display: block;
    font-size: var(--fz-text-1);
    font-weight: 600;
    color: var(--color-6);
    text-decoration: none;
    letter-spacing: -.3px;

    &__text {
        font-size: var(--fz-text-1);
        font-weight: 600;
        color: var(--color-6);
        letter-spacing: -.3px;
    }

    &__icon {
        display: none;
        width: 45px;
        height: 45px;
    }
}

.address {
    &__title {
        margin-bottom: 10px;
        font-size: var(--fz-text-4);
        font-weight: 500;
    }
}

.contact {
    background: #fff;
    box-shadow: 5px 5px 46px 0 rgba(5, 22, 26, 0.06);

    &-box {
        padding: 50px 75px 50px;
    }

    .address {
        margin-bottom: 20px;
    }

    .phone-number {
        margin-bottom: 25px;
    }

    .mail-box {
        margin-bottom: 30px;
    }
}

.contacts {
    &-form {
        display: block;
        width: 38%;
        background: #fff;
    }
}

.top-box {
    display: flex;
    align-items: flex-end;

    &__item {
        &:not(:first-child) {
            margin-left: auto;
        }
    }
}

.icon-box {
    .icon {
        width: 100%;
    }
}

.uploading-doc {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 55px;
    }

    &-box {
        display: flex;
    }

    &__icon {
        width: 24px;
        height: 26px;
        margin-right: 15px;
    }

    &__text {
        position: relative;
        display: inline-block;
        font-size: var(--fz-text-4);
        font-weight: 500;
        color: var(--color-6);

        &::before {
            position: absolute;
            bottom: -3px;
            width: 100%;
            height: 1px;
            content: '';
            background: #e2e7f1;
        }
    }
}

.scroll-top {
    position: fixed;
    right: 60px;
    bottom: 155px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    background: #d5ef28;
    border-radius: 100%;

    &__icon {
        width: 20px;
        height: 15px;
        transform: rotate(-90deg);
    }
}

.catalog {
    background: #ccc;
}